@use 'colors';
@use 'variables';


body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: colors.$background;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  padding: 20px 20px;
  background-color: colors.$button-main;
  box-shadow: variables.$shadow;
  border-radius: variables.$border-radius-button;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: darken(colors.$button-main, 10%);
  }
}

.wrapper-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: variables.$max-width;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: variables.$max-width;
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
  width: 100%;

  .card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: colors.$background-card-home;
    box-shadow: variables.$shadow;
    border-radius: variables.$border-radius;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
  
    .icon {
      color: colors.$background;
      width: 150px;
      max-width: 60%;
      transition: color 0.5s ease;
    }
  
    &:hover {
      transform: scale(1.05);
  
      .icon {
        color: black;
      }
    }
  }
}



