@use 'colors';
@use 'variables';


body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: colors.$background;
  font-family: 'Roboto', sans-serif;
  color: colors.$text;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  padding: 20px 20px;
  background-color: colors.$button-main;
  box-shadow: variables.$shadow;
  border-radius: variables.$border-radius-button;
  font-weight: bold;
  cursor: pointer;
  color: colors.$background;
  transition: 0.5s;

  &:hover {
    background-color: lighten(colors.$button-main, 20%);
  }
}

.wrapper-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: variables.$max-width;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: variables.$max-width;
}

.navbar-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  a {
    width: 30px;
    margin: 0 10px;
    color: colors.$text;
    transition: 0.5s;

    &:hover {
      transform: scale(1.3);
    }
  }
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
  width: 100%;

  .button-card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: colors.$background-card;
    box-shadow: variables.$shadow;
    border-radius: variables.$border-radius;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
  
    .icon {
      color: colors.$icon-inactive;
      width: 150px;
      max-width: 60%;
      transition: color 0.5s ease;
    }
  
    &:hover {
      transform: scale(1.05);
  
      .icon {
        color: black;
      }
    }
  }
}

.card {
  background-color: colors.$background-card;
  display: flex;
  flex-direction: column;
  border-radius: variables.$border-radius;
  box-shadow: variables.$shadow;
  padding: variables.$box-padding;
  margin: 10px;

  p {
      margin: 5px 0px;
  }

  .title-wrapper {
    display: flex;
    flex-direction: column;
    
    button {
        margin-bottom: 10px;
    }

    @include variables.tablet {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 

        button {
            margin-bottom: 0px;
        }
    }
  }

  .details-link {
    color: colors.$text;
    margin-top: 10px;
}
}





